---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.digitalhumani.com/tree
    body:
      encoding: UTF-8
      string: '{"enterpriseId":"dbaf5025","projectId":"81818181","user":"35ef179f415116a1.myshopify.com","treeCount":3}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 971e972a-ffd1-4152-96e6-f04a119b49c0
      X-Amzn-Remapped-Content-Length:
      - '187'
      X-Amz-Apigw-Id:
      - JTe7bFGc4osFa0g=
      Etag:
      - W/"bb-8NX5V9biNjthLwzogCNAGcnaIk0"
    body:
      encoding: UTF-8
      string: '{"uuid":"e49dd5b1-de91-497a-8813-1ac2672e6530","created":"2021-11-24T10:20:18.567Z","treeCount":3,"enterpriseId":"dbaf5025","projectId":"81818181","user":"35ef179f415116a1.myshopify.com"}'
  recorded_at: Wed, 24 Nov 2021 10:20:18 GMT
recorded_with: VCR 6.0.0
